@font-face{font-family:"PT Sans";src: url('../fonts/PTS55F.ttf')}

.login-btt, .articles-btt, .hmsld-btt span, .box1-inner, .box2-inner span, a.home-btt1, .guide-inner, .tlrmade-inner, .tlrmade-inner span, .newsltt-ftform .schbtt{outline:none; transition:0.5s ease; -o-transition:0.5s ease; -webkit-transition:0.5s ease;}

.social-mdbox{margin-top:0px;}
.social-mdbox ul{margin:0px; padding:0px;}
.social-mdbox ul li{list-style:none; border-right:1px solid #999; padding:0px; float:left; width:60px; height:44px; line-height:50px; text-align:center;}
.social-mdbox ul li a{display:block;}

.facebook, .twitter, .google-plus, .pinterest, .foursquare, .social-mdbox ul li a:hover > .facebook, .social-mdbox ul li a:hover > .twitter, .social-mdbox ul li a:hover > .google-plus, .social-mdbox ul li a:hover > .pinterest, .social-mdbox ul li a:hover > .foursquare{background-image:url(../images/social-icon.png); background-repeat:no-repeat; display:inline-block;}

.facebook{width:8px; height:16px; background-position:0 0;}
.twitter{width:16px; height:14px; background-position:-24px 0px;}
.google-plus{width:16px; height:16px; background-position:-56px 0px;}
.pinterest{width:14px; height:16px; background-position:-87px 0px;}
.foursquare{width:22px; height:19px; background-position:-112px 0px;}

.social-mdbox ul li a:hover > .facebook{background-position:0 -24px;}
.social-mdbox ul li a:hover > .twitter{background-position:-24px -24px;}
.social-mdbox ul li a:hover > .google-plus{background-position:-56px -24px;}
.social-mdbox ul li a:hover > .pinterest{background-position:-87px -24px;}
.social-mdbox ul li a:hover > .foursquare{background-position:-112px -24px;}

.bg1:hover, .bg2:hover, .bg3:hover, .bg4:hover, .bg5:hover{display:block; height:44px;}
.bg1:hover{background-color:#3d5b94;}
.bg2:hover{background-color:#00aced;}
.bg3:hover{background-color:#d13f2d;}
.bg4:hover{background-color:#cb2027;}
.bg5:hover{background-color:#1770b9;}

.top-bttbx{float:right; text-align:right;}

.gally-btt{display:inline-block; padding:0 35px; margin:0px; font:18px/43px "PT Sans"; color:#fff !important; background:#074c4a url(../images/icon-gallery.png) no-repeat center top; height:44px; text-align:center; text-transform:uppercase;}
.gally-btt:hover{color:#fff; background-color:#022f2d;}
.articles-btt{display:inline-block; padding:0 25px; margin-left:-5px; font:18px/43px "PT Sans"; color:#fff; background:#f05a29 url(../images/Articles-icon.png) no-repeat center top; height:44px; text-align:center; text-transform:uppercase;}
.articles-btt:hover{color:#fff; background-color:#bf2900;}

.nav-bgbx{background-color:#010101;}
.navbar{margin-bottom:0px;}
.navbar-default{background-color:transparent; border:none;}
.nav-bgbx .navbar-collapse{padding-left:0px; padding-right:0px;}

ul.menu-wrap{margin:0px; padding:0px;}
ul.menu-wrap li{margin:0px; padding:0px;}
ul.menu-wrap li:after {content:"/"; font:17px "PT Sans"; color:#fff !important; position:absolute; top:12px; margin-left:-3px;}
ul.menu-wrap li:first-child:after{content:"" !important;}
ul.menu-wrap li > a{padding:13px 15px; background-color:transparent; font:17px "PT Sans"; color:#fff !important; text-transform:uppercase;}
ul.menu-wrap li.active > a, ul.menu-wrap li.active > a:hover, ul.menu-wrap li.active > a:focus, ul.menu-wrap li a:hover{color:#f9a005 !important;}

ul.menu-wrap li .navtxt{color:#f9a005 !important;}

.navbar-brand-centered{display:block; position:absolute; left:38%; margin-top:-53px; text-align:center; z-index:100;}

/*---home silder css--*/
.sldwith .carousel-control{height:9% !important; font-size:30px; top:40%;}
.sldwith .carousel-control.left, .sldwith .carousel-control.right{background-image:none !important;}
.sldwith img{width:100%;}
.hmslider-txtbx{position:absolute; bottom:0px; width:100%; display:block; background:url(../images/blackbg.png) repeat left top; z-index:10; padding:10px 25px 15px; letter-spacing:0.02em;}
.hmsld-txt{margin-top:0px;}
.hmsld-txt strong{display:inline-block; font:32px "PT Sans"; color:#fff; text-transform:uppercase; border-bottom:1px solid #fff;}
.hmsld-txt p{font:15px/24px "Roboto Slab"; color:#fff; margin-bottom:0px; margin-top:5px;}

.hmsld-btt{margin-top:30px; text-align:center;}
.hmsld-btt span{display:inline-block; font:16px "PT Sans"; color:#320d00; padding:8px 25px; text-transform:uppercase; background-color:#f05a29; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}
.hmsld-btt span:hover{background-color:#074c4a; color:#fff;}
/*---home silder css end--*/

.heading-h1{position:relative; display:inline-block; font:30px "PT Sans"; color:#074c4a; text-transform:uppercase; margin-top:25px; margin-bottom:15px;}

.heading-h2{position:relative; display:inline-block; font:28px "PT Sans"; color:#111; text-transform:uppercase; margin-top:5px; margin-bottom:10px;}

.heading-txt{position:relative; display:inline-block; font:28px "PT Sans"; color:#222; text-transform:uppercase; margin-top:20px; margin-bottom:15px;}
.heading-h1::after, .heading-h2::after, .heading-txtfont::after, .heading-txt::after{background:url(../images/black-circle.png) no-repeat center center; content:""; display:block; width:21px; height:5px; margin:4px auto 0;}

.heading-txtfont{font:32px "PT Sans"; position:relative; display:inline-block; color:#222; text-transform:uppercase; margin-top:20px; margin-bottom:15px;}

.heading-txt1{position:relative; display:inline-block; font:28px "PT Sans"; color:#fff; text-transform:uppercase; margin-top:20px; margin-bottom:15px;}
.heading-txt1::after{background:url(../images/white-circle.png) no-repeat center center; content:""; display:block; width:21px; height:5px; margin:4px auto 0;}

.box1{padding-left:1px; padding-right:1px; margin-top:2px; overflow:hidden;}
.box1-outter{position:relative;}
.box1-inner{position:absolute; bottom:0px; left:0px; width:100%; background:url(../images/blackbg.png) repeat left top;}
.box1-txt{font:22px "Roboto Slab"; color:#fff; padding-top:8px; padding-bottom:7px; padding-left:10px;}
.box1-day{font:17px/18px "Roboto Slab"; color:#fff; background-color:#f05a29; text-align:center; padding-top:5px; padding-bottom:9px;}
.box1:hover > a .box1-inner{background-color:#f05a29;}

.box1-offer{position:absolute; top:0px; width:100%; margin:0 auto; text-align:center;}
.box1-offer strong{font:bold 18px "PT Sans"; color:#fff; text-transform:uppercase; text-align:center; background-color:#b63327; padding:12px 22px; display:inline-block;}

.gray-bg{background-color:#f2f3f3;}
.darkgy-bg{background-color:#222;}

.box2{margin-top:10px; margin-bottom:10px;}
.box2-relbx, .outterbx, .outterbx1{position:relative;}
.box2-inner{padding:13px 10px; text-align:center; letter-spacing:0.02em; background-color:#fff; min-height:185px;}
.box2-inner strong{display:block; font:20px "PT Sans"; color:#222; text-transform:uppercase; margin-bottom:5px;}
.box2-inner p{font:15px/20px "Roboto Slab"; color:#777;}
.box2-inner span{display:inline-block; font:14px "PT Sans"; color:#333; text-transform:uppercase; border-top:1px solid #777; padding:5px 15px; margin-top:5px;}
.box2-inner span:hover{color:#f05a29; border-top:1px solid #f05a29;}

.down-arrowbg{width:0px; height:0px; position:absolute; left:50%; top:0px; margin-left:-8px; border-top-color:#fff; border-style:solid; border-width:10px 10px 0 10px; border-color:#fff transparent transparent transparent;}
.up-arrowbg{width:0; height:0; border-left:10px solid transparent; border-right:10px solid transparent; border-bottom:10px solid #fff; position:absolute; left:50%; bottom:1px; margin-left:-8px; margin-bottom:-1px;}

a.home-btt1{font:18px "PT Sans"; color:#f96305; text-align:center; text-transform:uppercase; padding:6px 25px; margin-top:20px; margin-bottom:10px; display:inline-block; border:1px solid #f96305; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
a.home-btt1:hover{color:#fff; background-color:#f96305;}

a.hmbtt-pkg{margin-top:30px;}

.tailormade-btt1{margin-top:30px; margin-bottom:30px; text-align:center;}
.tlrmade-inner{position:absolute; top:32px; display:block; width:100%; font:italic 26px "Roboto Slab"; color:#fff; margin-left:-25px;}
.tlrmade-inner span{color:#fff600;}

.outterbx1:hover > a .tlrmade-inner{color:#fff600;}
.outterbx1:hover > a .tlrmade-inner span{color:#fff;}

.guide-wrap{margin-top:10px; margin-bottom:10px;}
.guide-inner{position:absolute; top:0px; width:100%; height:100%; text-align:center; display:block;  z-index:1; -ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); opacity:0.85; background:url(../images/blackbg.png) repeat 0 0; -webkit-transition:all 0.4s ease-in-out; -moz-transition:all 0.4s ease-in-out; -o-transition:all 0.4s ease-in-out; -ms-transition:all 0.4s ease-in-out; transition:all 0.4s ease-in-out;}
.outterbx:hover > a .guide-inner{opacity:0;}
.guide-text{z-index:1000; position:absolute; top:0px; width:100%; height:100%; text-align:center; display:block;}
.guide-text strong{display:block; font:24px "Roboto Slab"; color:#fff;}
.guide-text strong::after{content:""; display:block; width:30px; height:1px; background-color:#fff; margin:7px auto 0px;}
.gudpd{padding-top:110px;}

.gdicon1{width:50px; height:37px; background:url(../images/travel-guide-icon.png) no-repeat 0 0; display:inline-block;}
.gdicon2{width:30px; height:35px; background:url(../images/travel-guide-icon.png) no-repeat -64px 0px; display:inline-block;}
.gdicon3{width:50px; height:33px; background:url(../images/travel-guide-icon.png) no-repeat -105px 0px; display:inline-block;}
.gdicon4{width:30px; height:30px; background:url(../images/travel-guide-icon.png) no-repeat -168px 0px; display:inline-block;}

.textlead{letter-spacing:0.02em;}
.textlead p{font:15px/24px "Roboto Slab"; color:#444;}
.textlead a{color:#cc7d06;}
.textlead ul{margin:10px 0px; margin-left:15px; padding:0px; text-align:left;}
.textlead ul li{font:15px/24px "Roboto Slab"; color:#666;}

.readbtt{display:inline-block; font:16px Corbel; color:#074c4a; text-transform:uppercase; border:1px solid #dadada; padding:7px 15px; margin-top:15px; text-decoration:none; outline:none; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}

/*---footer css--*/
.footerbg1{background-color:#074c4a; margin-top:15px;}
.footerbg2{background-color:#01090e;}
.footerbg3{background:#0b1922 url(../images/stupa-icon.png) no-repeat center center;}

.newsltt-fttxt{margin-top:10px;}
.newsltt-fttxt img{float:left; margin-right:10px;}
.newsltt-fttxt strong{font:24px "PT Sans"; color:#f9c805; display:block; padding-top:5px;}
.newsltt-fttxt p{font:13px "Roboto Slab"; color:#fff; float:left; margin-bottom:0px;}

.newsltt-ftform{margin-top:16px;}
.pdd{padding:0px;}
.newsltt-ftform .form-control{border-radius:0px; height:45px; font:16px "PT Sans"; color:#666; border:none; display:block;}
.newsltt-ftform .schbtt{font:18px "PT Sans"; color:#f9c805; background-color:#022f2d; border:none; outline:none; display:block; height:45px; padding:0 20px; box-shadow:none;}
.newsltt-ftform .schbtt:hover{color:#fff; background-color:#f96305;}

ul.footerlinks{margin-top:15px; margin-bottom:15px;}
ul.footerlinks li{margin:0px; padding:0px;}
ul.footerlinks li:after {content:"/"; font:17px "PT Sans"; color:#fff !important;}
ul.footerlinks li:last-child:after{content:"" !important;}
ul.footerlinks li > a{padding:13px 11px; font:15px "PT Sans"; color:#fff !important; text-transform:uppercase; text-align:center;}
ul.footerlinks li > a:hover{color:#f9c805 !important;}

.footer-address{letter-spacing:0.02em; margin-top:25px;}
.addhead{font:18px "PT Sans"; color:#fff; text-transform:uppercase; margin-bottom:8px;}
.footer-address p{font:13px "Roboto Slab"; color:#fff;}
.calltxt{font:18px "PT Sans" !important; color:#fff !important; margin-bottom:0px;}
.calltxt span{color:#f9c805;}

.footer-copytxt{margin-top:15px; text-align:center;}
.footer-copytxt span{display:block; font:13px "Roboto Slab"; color:#848483;}
.footer-copytxt img{display:block; margin:10px auto;}
.footer-copytxt p{font:14px "PT Sans"; color:#f9c805; margin-bottom:0px;}
/*---footer css end--*/

.plan-mytrip{width:100%; height:auto; display:none; background:#C00; font:17px "PT Sans"; color:#fff; padding:8px 0px; text-align:center; text-transform:uppercase;}
.plan-mytrip:hover, .plan-mytrip:focus, .plan-mytrip:active{color:#fff;}