@media (min-width: 1400px) and (max-width: 1650px) {
    .box1 img, .guide-wrap img{width:100% !important;}
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-brand-centered{left:36%; margin-top:-43px; width:210px;}
    ul.menu-wrap li > a{padding:13px 9px; font-size:16px;}

    .box2-inner{min-height:250px;}

    .tlrmade-inner{top:27px;}

    .gudpd{padding-top:80px;}

    .sldwith .carousel-control{height:74%;}
}

@media (min-width: 768px) and (max-width: 991px) {
    .tlrmade-inner{top:19px; margin-left:-4px;}

    .gudpd{padding-top:75px;}

    .footerbg3{background-position:46% center;}

    .sldwith .carousel-control{font-size:26px; top:34%;}
    .hmsld-txt strong{font-size:27px;}
    .hmsld-txt p{font-size:13px; line-height:20px;}
}

@media (max-width: 991px) {
    .navbar-brand-centered{width:210px; margin-top:-43px; left:38%;}

    ul.menu-wrap li{border-bottom:1px solid #444;}
    ul.menu-wrap li::after, .sticky-enqbtt{display:none;}
    ul.menu-wrap li > a{padding:10px 5px;}

    .gally-btt, .articles-btt{font-size:15px; padding:0 12px;}

    .box2{margin-bottom:20px; margin-top:20px;}
    .box2-relbx{background-color:#fff;}
    .box2-relbx img{display:block; margin:0 auto;}

    .box2-inner{min-height:inherit;}

    ul.footerlinks li{padding:5px 0px;}

    .brdln a{border:1px solid #dfdfdf; display:block;}

    .plan-mytrip{position:fixed !important; bottom:0px !important; z-index:999 !important; display:block;}
}

@media (max-width: 767px) {
    .dispnon, .sldnon, .tailormade-btt1 img, .box1-day br, #footerArea{display:none;}
    .footerbg2{padding-bottom:40px;}

    .nav-bgbx{margin-top:23px;}
    .navbar{min-height:30px;}
    .navbar-brand-centered{width:165px; margin-top:-23px; padding-top:0px; padding-left:0px; position:static;}

    .navbar-toggle{margin-top:-15px; margin-bottom:0px; background-color:#f96305;}

    .box1, .guide-wrap, .footer-address{text-align:center;}
    .box1-outter{display:inline-block; margin-bottom:15px; margin-top:0px;}

    .outterbx{display:inline-block;}

    .outterbx1{background-color:#074c4a; padding:15px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
    .tlrmade-inner{margin-left:0px; position:static;}
    .tlrmade-inner span{display:block;}

    .newsltt-fttxt img{margin-left:18px;}
    .newsltt-ftform{margin-bottom:10px; margin-top:0px;}
    .newsltt-ftform .schbtt{width:100%;}

    .box1-inner{position:static;}

    a.hmbtt-pkg{margin-top:15px;}
}

@media (max-width: 690px) {
    .outterbx{display:block;}
}

@media (max-width: 590px) {
    .trending-pkgbx{width:100%;}
}

@media (max-width: 525px) {
    .box1{padding-left:15px; padding-right:15px;}
    .box1-outter{display:block;}

    .guide-wrap{width:100%;}
    .outterbx{display:inline-block;}
}

@media (max-width: 340px) {
    .outterbx{display:block;}
}