@media (min-width: 992px) and (max-width: 1199px) {
.navbar-brand-centered{left:36%; margin-top:-43px; width:210px;}
ul.menu-wrap li > a{padding:13px 9px; font-size:16px;}

.pkglst-theme{margin-bottom:30px;}
.checkbox label{padding-right:0px;}

.pkglst-bttbx{padding-left:5px; padding-right:0px;}

.nutshell-infobx{padding:13px 0px;}
.nutshell-infobx p{font-size:16px;}
.nutshell-pricebx{padding-top:4px; padding-bottom:4px;}

.subscribe-mail span, .subscribe-mail p{margin-top:0px;}

.pkgcont-wrap strong{font-size:16px; margin-top:0px;}

.guide-pkgbx .media-left img, .guide-pkgbx .media-right img{width:100px; height:100px;}
.guidelink{margin-top:30px;}

.trlguide-things ul li{width:12%; margin:10px 0px;}

.festvl-infobx{min-height:205px;}
.festvl-infobx ul li{padding:10px 0;}

.htlslst-detailbx{min-height:155px; padding-top:10px;}
.htlslst-detailbx span{margin-top:3px; margin-bottom:3px;}
.htlslst-btt{margin-top:30px;}

.customize-form .enpcd{padding-right:5px;}
.customize-form .enph{padding-left:1px;}

.mdtxt a, .map-pkgbtt a{font-size:15px; padding:8px 12px;}
}

@media (max-width: 1199px) {
.resources-wrapper{margin-bottom:30px;}

.htlslst-outterbx{margin-top:20px; margin-bottom:25px;}

.htlarr{top:9px; right:15px;}

.htldinfo-txthd{width:43%;}

.contact-txtbx, .contact-formbx{padding:0 30px 20px;}

.newsltt-social{margin-top:140px;}
}

@media (min-width: 768px) and (max-width: 991px) {
.newsltt-ftform .schbtt{padding:0 14px;}
.footerbg3{background-position:46% center;}

.tailorbg-txt p{font-size:18px; line-height:25px; margin-top:24px;}
.tailorbg-txt i{font-size:55px;}

.pkglst-daysbx{padding-left:0px;}

.subscribe-mail{padding-bottom:32px;}

.festvl-infobx{min-height:211px;}
.festvl-infobx ul li{padding:11px 0;}

.htlld-roomsbx{background-position:center bottom; padding-bottom:85px; text-align:center;}

.brdn{border-right:none;}
}

@media (max-width: 991px) {
.navbar-brand-centered{width:210px; margin-top:-43px; left:38%;}

ul.menu-wrap li{border-bottom:1px solid #444;}
ul.menu-wrap li::after{display:none;}
ul.menu-wrap li > a{padding:10px 5px;}

.gally-btt, .articles-btt{font-size:15px; padding:0 12px;}

ul.footerlinks li{padding:5px 0px;}

.pkglst-thmhead{margin-bottom:8px;}
.checkbox label{margin-bottom:10px;}

.pkglst-detailbx{min-height:inherit;}

.other-tourpkg{margin-top:25px; margin-bottom:25px;}

.pkgcont-wrap{text-align:center;}
.pkgcont-wrap img{margin:0 auto; display:block; float:none;}

.eqbt{margin-bottom:15px;}

.destmain-text p{text-align:justify;}
.destmain-pics, .destdetail-img, .trlguide-fttxt::after, .pkglst-header p, .pkglst-header article, .itinerary-dayinfo span::after{display:none;}

.destdetail-text{margin-top:0px;}

.trlguide-weather{display:inline-block; width:263px;}

.trlguide-fttxt{position:static;}

.trlguide-textbx{clear:both;}
.trlguide-textbx::before{float:left; width:100%;}

.rhtbrd{border-right:none;}

.htlslst-detailbx{padding-top:10px;}

.pkglst-bg, .trippl-bg, .festival-bg, .climate-bg, .hotelslst-wrap{background-image:none; background-color:#222; min-height:inherit;}
.offer-bg{background:none; background-color:#444; margin-bottom:5px;}

.leftpull, .rightpull{float:none;}
.offers-wrapper{text-align:center;}
.offers-wrapper img{margin:0 auto;}
.offer-pkgdate{background:none;}
.offer-pkgdate span{border-left:1px solid #8d8d8d; padding-left:12px;}

.cont-left{padding-right:15px;}
.cont-right{padding-left:15px;}

.contact-bg1, .contact-bg2{min-height:inherit;}

.pkglst-header{padding-bottom:30px;}

.sticky-enqbtt{top:325px;}
.sticky-enqbtt img{width:80%; float:right;}

.itinerary-dayinfo{padding:13px;}
.itinerary-dayinfo span{margin-right:3px; padding:6px 10px;}
.expBut{margin:7px 0 0;}

.text-wrapper p, .txtbx p, .introd-txt p, .pkgtour-txtbx p, .htlld-txtbx p, .linfo-innerbx p, .destmain-text p, .destdetail-txtwrap p{text-align:left;}

.destdetl-planner span{margin-top:8px;}

#popUpArea, .sticky-enqbtt{display:none !important;}
#footerArea div{top:110px !important;}

.plan-mytrip{position:fixed !important; bottom:0px !important; z-index:999 !important; display:block;}
}

@media (min-width: 550px) and (max-width: 991px) {
.glwth{width:33.3333%;}
.pkgbx-gallery .col-xs-12:nth-child(1){padding-right:0px; margin-top:0px;}
.pkgbx-gallery .col-xs-6:nth-child(2){padding-right:0px; margin-top:0px; margin-left:-7px;}
.pkgbx-gallery .col-xs-6:nth-child(3){padding-right:0px; padding-left:15px; margin-top:0px; margin-left:-7px;}
}

@media (max-width: 767px) {
.dispnon, .htlarr, #footerArea{display:none;}
.footerbg2{padding-bottom:40px;}

.nav-bgbx{margin-top:23px;}
.navbar{min-height:30px;}
.navbar-brand-centered{width:165px; margin-top:-23px; padding-top:0px; padding-left:0px; position:static;}

.navbar-toggle{margin-top:-15px; margin-bottom:0px; background-color:#f96305;}

.footer-address{text-align:center;}

.newsltt-fttxt img{margin-left:18px;}
.newsltt-ftform{margin-bottom:10px; margin-top:0px;}
.newsltt-ftform .schbtt{width:100%;}

.tailorbg{margin-top:10px; margin-bottom:30px; width:100%;}
.tailorbg img{display:none; margin-top:0px;}
.tailorbg-txt{float:none;}
.tailorbg-txt p{margin-top:15px;}

.pagt-text{text-align:center; margin-top:0px; margin-bottom:10px;}

.pkglst-outterbx, .festvl-topbx{text-align:center;}
.pkglst-outterbx .arrow-left{display:none;}
.pkglst-imgbx img{margin:0 auto 8px;}
.pkgtheme-icons ul li{float:none; display:inline;}
.pkglst-bttbx{margin-top:0px;}

.subscribe-mail{width:263px; display:inline-block;}

.destmain-wrap a, .themes-wrap a{display:inline-block;}

.destdetail-bg{background-image:none; background-color:#111;}

.dbg img, .trending-wrap img, .festvl-ldimg img{margin:0 auto;}

.trending-pkgsbx{margin-bottom:20px;}

.festvl-imgbx img{text-align:center; margin:0 auto;}
.festvl-month{margin:0 auto 5px;}

.festvl-eventbx{padding-left:15px; margin-top:10px; text-align:center;}
.festvl-eventbx p{margin-bottom:15px;}

.festvl-mthtxt{margin:0 auto; float:none;}
.festvl-infobx{min-height:inherit;}

.htlslst-outterbx{text-align:center; padding-top:15px; padding-bottom:15px;}
.htlslst-outterbx img{margin:0 auto;}
.htlslst-detailbx a::before{background-color:transparent;}
.htlslst-imgbx{padding-left:15px;}
.htlslst-detailbx{padding-left:15px; min-height:inherit;}

.linfo-innerbx p{border-left:none; border-top:1px solid #afa593; padding-top:15px; padding-left:0px; margin-top:20px;}

.pbttmg{margin:20px auto 5px; text-align:center;}

.crrycont-wrap{padding:25px 7px;}
.crrycont-wrap .crry-calbtt{margin-top:10px;}

.nsphn{margin-top:25px;}

.errimg img{margin:0 auto;}
.error-txt{margin-top:5px;}

.gallywth{text-align:center;}
.gallery-wrap{display:inline-block; margin:15px auto 10px;}

.pkgywd{margin:30px auto;}

.subscribe-mail{display:none;}

.heading-txtbx span{ font-size:18px !important; }
.heading5{ font-size:20px !important;}

.newsletter-txtbx{padding:70px 20px 10px;}

.brdn1, .day-Contentbx{border-right:none;}

.temp-desc{margin:0 0 10px; border-top:1px dotted #bebebe; padding-top:8px;}
}

@media (min-width: 743px) and (max-width: 767px) {
.newsltt-social{margin-top:165px;}
}

@media (max-width: 720px) {
.tempbx ul li{width:100%; border:1px solid #bebebe; margin:10px 0px; min-height:inherit;}
.tempbx ul li:last-child{border-right:1px solid #bebebe; margin-bottom:1px;}

.customize-wrap label{width:32%;}

.newsletter-txtbx form{padding:0 30px;}
}

@media (max-width: 675px) {
.pkgywd{width:auto; margin:10px;}

.htldinfo-txthd{width:75%;}

.nutshell-infobx, .nutshell-pricebx{width:100%; border:none; padding-top:5px; padding-bottom:5px;}
.pkgtour-enqbtt{margin-bottom:10px; margin-top:20px;}
.map-pkgbtt{margin-bottom:15px; border:none; padding-top:5px; padding-bottom:5px; padding-right:8px; margin-top:8px;}
.mdtxt a, .map-pkgbtt a{display:block; font-size:16px; padding:8px 2px;}
.mdtxt{margin-top:13px; padding-left:8px;}
}

@media (min-width: 450px) and (max-width: 600px) {
.destmain-wrap a, .themes-wrap a{display:block;}
}

@media (max-width: 570px) {
.trlguide-textbx{text-align:center;}
.trlguide-textbx img{margin:0 auto 15px; float:none;}

.offprc1, .offprc2{text-align:center; width:100%; margin-top:5px;}

.customize-wrap label{width:49%;}

.newsletter-txtbx form{padding:0px;}
}

@media (max-width: 505px) {
.newsltt-social{margin-top:100px;}
}

@media (max-width: 460px) {
.mpwth, .mpwth1{width:100%;}
.map-head1{min-height:inherit;}

.gallywth{width:100%;}
}

@media (max-width: 450px) {
.tailorbg-txt{margin-left:0px; padding:8px;}
.tailorbg-txt i{display:none;}
.tailorbg-txt p{margin-top:8px; text-align:center; float:none;}

.destmain-wrap, .themes-wrap{width:100%;}

.other-destbx{display:none;}

.pdd{width:100%; margin:5px 0px;}

.hpopwd{width:100%;}
.htlbook-link{background-image:none; padding:10px 25px;}

.htlimg-glly a{position:static; display:block; text-align:center; border-top-left-radius:0px; border-top-right-radius:0px;}

.nsphn{width:100%;}
.nswdth{width:50%;}
.nswdth1{width:100%; padding-left:15px; margin-top:25px;}

.newsltt-social{margin-top:40px;}

.contact-txtbx, .contact-formbx{padding:0 15px 20px;}

.enquiry-txtbx{padding:20px 15px;}

.customize-form .enbigfd{width:100%;}
}

@media (max-width: 415px) {
.newsltt-social{margin-top:68px;}

.newsltt-social{margin-top:15px;}
}

@media (max-width: 410px) {
.customize-wrap{padding:5px 15px 20px;}
.checkbox label{padding-right:0px;}
}

@media (max-width: 340px) {
.pkglst-detailbtt{width:100%;}	
.pkglst-daysbx span{margin-top:5px;}

.enpcd, .enbigfd, .ntbfd{width:100%;}
.enpcd input{border-left:1px solid #ccc !important;}
.enph{width:100%; margin-top:10px; padding-left:15px;}
.enph input{border-top-left-radius:0 !important; border-bottom-left-radius:0 !important;}

.contact-formbx .ltbrd, .booking-wrapper .ltbrd, .enquiry-txtbx .ltbrd, .customize-form .ltbrd{border-top-left-radius:0px !important; border-bottom-left-radius:0px !important;}
}

@media (max-width: 300px) {
.subscribe-mail{width:100%; display:block;}

.destmain-wrap a, .destdetl-planner, .trlguide-weather, .themes-wrap a{display:block; width:auto;}

.climate-textbx{width:100%; min-height:inherit; border-right:none;}
}

@media (max-width: 294px) {
.gallery-wrap{display:block;}
}