@font-face{font-family:"PT Sans";src: url('../fonts/PTS55F.ttf')}

.login-btt, .articles-btt, .newsltt-ftform .schbtt, .tailorbg, .pkglst-detailbtt a, .pkgtour-enqbtt a, .subscribe-mailbtt, .pkgbx-gallery .pkglly-txt, .destmain-wrap span, .destdetl-plannbtt, .destdetl-links, .resources-more, .themes-wrap span, .trendpkg-link, .pkgbtt, .htlbook-link, .offer-links, .trlgd-read, .pkgform-box .submitbtt, .btt-newsltt, .map-pkgbtt a{outline:none; transition:0.5s ease; -o-transition:0.5s ease; -webkit-transition:0.5s ease;}

.sticky-enqbtt{position:fixed; top:400px; right:0px; z-index:200; width:auto;}

.social-mdbox{margin-top:0px;}
.social-mdbox ul, ul.menu-wrap, ul.menu-wrap li, ul.footerlinks li, .guide-subhd ul, .guide-pkgbx ul, .othtour-pkgbx ul, .trlguide-fastfct ul, .trlguide-things ul, .festvl-infobx ul, .tempbx ul{margin:0px; padding:0px;}
.social-mdbox ul li{list-style:none; border-right:1px solid #999; padding:0px; float:left; width:60px; height:44px; line-height:50px; text-align:center;}
.social-mdbox ul li a{display:block;}

.facebook, .twitter, .google-plus, .pinterest, .foursquare, .social-mdbox ul li a:hover > .facebook, .social-mdbox ul li a:hover > .twitter, .social-mdbox ul li a:hover > .google-plus, .social-mdbox ul li a:hover > .pinterest, .social-mdbox ul li a:hover > .foursquare{background-image:url(../images/social-icon.png); background-repeat:no-repeat; display:inline-block;}

.facebook{width:8px; height:16px; background-position:0 0;}
.twitter{width:16px; height:14px; background-position:-24px 0px;}
.google-plus{width:16px; height:16px; background-position:-56px 0px;}
.pinterest{width:14px; height:16px; background-position:-87px 0px;}
.foursquare{width:22px; height:19px; background-position:-112px 0px;}

.social-mdbox ul li a:hover > .facebook{background-position:0 -24px;}
.social-mdbox ul li a:hover > .twitter{background-position:-24px -24px;}
.social-mdbox ul li a:hover > .google-plus{background-position:-56px -24px;}
.social-mdbox ul li a:hover > .pinterest{background-position:-87px -24px;}
.social-mdbox ul li a:hover > .foursquare{background-position:-112px -24px;}

.bg1:hover, .bg2:hover, .bg3:hover, .bg4:hover, .bg5:hover{display:block; height:44px;}
.bg1:hover{background-color:#3d5b94;}
.bg2:hover{background-color:#00aced;}
.bg3:hover{background-color:#d13f2d;}
.bg4:hover{background-color:#cb2027;}
.bg5:hover{background-color:#1770b9;}

.top-bttbx{float:right; text-align:right;}

.gally-btt{display:inline-block; padding:0 35px; margin:0px; font:18px/43px "PT Sans"; color:#fff; background:#074c4a url(../images/icon-gallery.png) no-repeat center top; height:44px; text-align:center; text-transform:uppercase;}
.gally-btt:hover{color:#fff; background-color:#022f2d;}
.articles-btt{display:inline-block; padding:0 25px; margin-left:-5px; font:18px/43px "PT Sans"; color:#fff; background:#f05a29 url(../images/Articles-icon.png) no-repeat center top; height:44px; text-align:center; text-transform:uppercase;}
.articles-btt:hover{color:#fff; background-color:#bf2900;}

.nav-bgbx{background-color:#010101;}
.navbar{margin-bottom:0px;}
.navbar-default{background-color:transparent; border:none;}
.nav-bgbx .navbar-collapse{padding-left:0px; padding-right:0px;}

ul.menu-wrap li:after {content:"/"; font:17px "PT Sans"; color:#fff !important; position:absolute; top:12px; margin-left:-3px;}
ul.menu-wrap li:first-child:after{content:"" !important;}
ul.menu-wrap li > a{padding:13px 15px; background-color:transparent; font:17px "PT Sans"; color:#fff !important; text-transform:uppercase;}
ul.menu-wrap li.active > a, ul.menu-wrap li.active > a:hover, ul.menu-wrap li.active > a:focus, ul.menu-wrap li a:hover{color:#f9a005 !important;}

ul.menu-wrap li .navtxt{color:#f9a005 !important;}

.navbar-brand-centered{display:block; position:absolute; left:38%; margin-top:-53px; text-align:center; z-index:100;}

/*---footer css--*/
.footerbg1{background-color:#074c4a; margin-top:15px;}
.footerbg2{background-color:#01090e;}
.footerbg3{background:#0b1922 url(../images/stupa-icon.png) no-repeat center center;}

.newsltt-fttxt{margin-top:10px;}
.newsltt-fttxt img{float:left; margin-right:10px;}
.newsltt-fttxt strong{font:24px "PT Sans"; color:#f9c805; display:block; padding-top:5px;}
.newsltt-fttxt p{font:13px "Roboto Slab"; color:#fff; float:left; margin-bottom:0px;}

.newsltt-ftform{margin-top:16px;}
.pdd{padding:0px;}
.newsltt-ftform .form-control{border-radius:0px; height:45px; font:16px "PT Sans"; color:#666; border:none; display:block;}
.newsltt-ftform .schbtt{font:18px "PT Sans"; color:#f9c805; background-color:#022f2d; border:none; outline:none; display:block; height:45px; padding:0 20px;}
.newsltt-ftform .schbtt:hover{color:#FFF; background-color:#f96305;}

ul.footerlinks{margin-top:15px; margin-bottom:15px;}
ul.footerlinks li{margin:0px; padding:0px;}
ul.footerlinks li:after {content:"/"; font:17px "PT Sans"; color:#fff !important;}
ul.footerlinks li:last-child:after{content:"" !important;}
ul.footerlinks li > a{padding:13px 11px; font:15px "PT Sans"; color:#fff !important; text-transform:uppercase; text-align:center;}
ul.footerlinks li > a:hover{color:#f9c805 !important;}

.footer-address{letter-spacing:0.02em; margin-top:25px;}
.addhead{font:18px "PT Sans"; color:#fff; text-transform:uppercase; margin-bottom:8px;}
.footer-address p{font:13px "Roboto Slab"; color:#fff;}
.calltxt{font:18px "PT Sans" !important; color:#fff !important; margin-bottom:0px;}
.calltxt span{color:#f9c805;}

.footer-copytxt{margin-top:15px; text-align:center;}
.footer-copytxt span{display:block; font:13px "Roboto Slab"; color:#848483;}
.footer-copytxt img{display:block; margin:10px auto;}
.footer-copytxt p{font:14px "PT Sans"; color:#f9c805; margin-bottom:0px;}
/*---footer css end--*/

.breadcrumb-wrapper{border-bottom:1px dotted #9c9c9c; letter-spacing:0.02em; background-color:#fff;}
.breadcrumb-wrapper .breadcrumb{padding:10px 15px; background-color:#fff; border-radius:0px;}
.breadcrumb-wrapper ol, .breadcrumb-box ol{margin-bottom:0px;}
.breadcrumb-wrapper ol li, .breadcrumb-wrapper ol li a, .breadcrumb-box ol li, .breadcrumb-box ol li a{font:14px "PT Sans"; color:#444;}
.breadcrumb > .active, .breadcrumb-box > .active{color:#034341;}

.breadcrumb-box{background-color:#f5f5f5;}
.breadcrumb-box .breadcrumb{padding:10px 15px; border-radius:0px;}

.black-bg{background-color:#111; padding:8px 15px;}
.gray-bg{background-color:#f2f3f3;}

.arrow-left{width:0; height:0; border-top:10px solid transparent; border-bottom:10px solid transparent; border-right:10px solid #fff; position:absolute; right:15px; top:9px;}

.heading1{position:relative; display:inline-block; font:34px "PT Sans"; color:#fed90a; text-transform:uppercase; margin-top:25px; margin-bottom:15px;}
.heading1::after, .heading3::after, .other-desthd::after{background:url(../images/white-circle.png) no-repeat center center; content:""; display:block; width:21px; height:5px; margin:4px auto 0;}

.heading2{display:block; font:34px "PT Sans"; color:#074c4a; text-transform:uppercase; letter-spacing:0.02em;}
.heading3{position:relative; display:inline-block; font:34px "PT Sans"; color:#fff; text-transform:uppercase; margin-top:35px; margin-bottom:65px;}
.heading4{position:relative; display:block; font:34px "PT Sans"; color:#074c4a; text-transform:uppercase; letter-spacing:0.02em;}

.small-heading1{position:relative; display:inline-block; font:28px "PT Sans"; color:#222; text-transform:uppercase; margin-top:20px; margin-bottom:15px;}
.small-heading1::after, .heading4::after, .small-heading2::after{background:url(../images/black-circle.png) no-repeat center center; content:""; display:block; width:21px; height:5px; margin:4px auto 0;}

.small-heading2{position:relative; display:inline-block; font:28px "PT Sans"; color:#222; margin-top:25px; margin-bottom:15px;}
.sabhead{font:28px "Roboto Slab"; color:#074c4a; text-transform:none;}

.readbtt{display:inline-block; font:16px Corbel; color:#074c4a; text-transform:uppercase; border:1px solid #dadada; padding:7px 15px; margin-top:15px; text-decoration:none; outline:none; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}

.sitemap-wrapper ul li a{background-color:#ffffff; background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e1e1e1)); background-image:-webkit-linear-gradient(top, #ffffff, #e1e1e1); background-image:-moz-linear-gradient(top, #ffffff, #e1e1e1); background-image:-ms-linear-gradient(top, #ffffff, #e1e1e1); background-image:-o-linear-gradient(top, #ffffff, #e1e1e1);background-image:linear-gradient(top, #ffffff, #e1e1e1); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#e1e1e1);}

/*---tailormade css--*/
.tailormade-btt2{margin-top:20px; margin-bottom:30px;}
.tailorbg{background-color:#074c4a; margin-top:50px; float:left;}
.tailorbg:hover{background-color:#012f2d;}
.tailorbg img{margin-left:15px; margin-top:-41px; float:left;}
.tailorbg-txt{float:left; margin-left:15px;}
.tailorbg-txt p{font:italic 24px/30px "Roboto Slab"; color:#fff; float:left; margin-top:18px;}
.tailorbg-txt p span{color:#fff600; display:block;}
.tailorbg-txt i{font:60px "PT Sans"; color:#fff600; background-color:#012f2d; float:right; margin-left:40px; min-height:95px; padding:5px 12px 8px;}
/*---tailormade css end--*/

/*---pagination css--*/
.pagt-text{margin-top:2px; font:18px "PT Sans"; color:#fff; vertical-align:text-top;}
.pagt-text i{font-size:16px;}
.pagt-text span{color:#fed90a; font-size:24px;}

.pagtwrap{margin-top:5px !important; margin-bottom:0px !important; text-align:center;}
.pagtwrap ul{margin:0px;}

.pagtboxsel{margin-top:2px;}
.pagtboxsel select{font:15px "PT Sans"; padding:5px 8px;}
/*---pagination css end--*/

/*---packages listing css--*/
.pkglst-bg{background:url(../images/package-bg.jpg) no-repeat center center; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}

.pkglst-header{text-align:center; letter-spacing:0.02em; z-index:100;}
.pkglst-header p{font:15px/24px "Roboto Slab"; color:#fff; margin-bottom:55px;}

.plst p{margin-bottom:10px;}

.pkglst-wrap{margin-top:-41px;}

.pkglst-theme{margin-top:3px; margin-bottom:10px;}
.pkglst-theme img{vertical-align:top;}
.pkglst-thmhead{font:16px "PT Sans"; color:#111;}
.checkbox-text{font:15px "PT Sans"; margin-top:-3px; display:inline-block;}

.checkbox label{padding-left:0px; padding-right:15px;}
.checkbox label:after{content:''; display:table; clear:both;}
.checkbox .cr{background:#fff; position:relative; display:inline-block; border:1px solid #a9a9a9; border-radius:.25em; width:1.2em; height:1.2em; float:left; margin-right:.5em;}
.checkbox .cr .cr-icon{position:absolute; font-size:.8em; line-height:0; top:45%; left:10%;}
.checkbox label input[type="checkbox"]{display:none;}
.checkbox label input[type="checkbox"] + .cr > .cr-icon{transform:scale(3) rotateZ(-20deg); opacity:0; transition:all .3s ease-in;}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon{transform:scale(1) rotateZ(0deg); opacity:1;}
.checkbox label input[type="checkbox"]:disabled + .cr{opacity:.5;}

.pkglst-outterbx{border-bottom:1px dotted #9c9c9c; padding-top:25px; padding-bottom:25px; overflow:hidden; letter-spacing:0.02em;}
.pkglst-daysbx span{background:url(../images/calendar-icon.png) no-repeat center top; font:24px/24px "Roboto Slab"; color:#333; text-align:center; margin-top:25px; padding-top:40px; padding-bottom:10px; border-bottom:1px solid #999; display:inline-block;}

.pkglst-imgbx img{position:relative;}

.pkglst-detailbx{padding-left:0px; min-height:170px; -moz-box-shadow:5px 0 5px -5px rgba(185,185,185,0.5); -webkit-box-shadow:5px 0 5px -5px rgba(185,185,185,0.5); box-shadow:5px 0 5px -5px rgba(185,185,185,0.5);}

.pkglst-txtbx{margin-top:5px;}
.pkglst-txtbx a{font:22px "PT Sans"; color:#074c4a; text-transform:uppercase;}
.pkglst-txtbx a:hover{color:#f96305;}
.pkglst-txtbx i{font:italic 16px "PT Sans"; color:#777; padding-top:5px; display:block;}
.pkglst-txtbx p{font:14px/24px "Roboto Slab"; color:#333;}

.pkglst-pricebx{margin-top:15px;}
.pkglst-pricebx p, .pkglst-pricebx i{font:italic 17px "PT Sans"; color:#777;}
.pkglst-pricebx p span{background:url(../images/rupee-gray.png) no-repeat 5px 6px; font-style:normal; text-decoration:line-through; padding-left:15px; padding-right:8px;}
.pkglst-pricebx p strong{background:url(../images/rupee-org.png) no-repeat 5px 11px; font:normal 27px "Roboto Slab"; color:#f95b05; padding-left:17px;}
.pkglst-pricebx i strong{font:normal 27px "Roboto Slab"; color:#f95b05; padding-left:5px;}

.pkglst-bttbx{margin-top:10px; padding-right:5px;}
.pkglst-detailbtt a{font:14px "PT Sans"; color:#fff; text-transform:uppercase; text-align:center; display:block; padding:8px 0px; margin-top:10px; margin-bottom:7px; background-color:#f96305; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}
.pkglst-detailbtt a:hover{color:#fff; background-color:#074c4a;}

.pkgtheme-icons{margin-top:15px;}
.pkgtheme-icons ul{margin:0px; padding:0px; list-style:none;}
.pkgtheme-icons ul li{float:left; padding:0 1px; margin:0px;}
/*---packages listing css end--*/

/*---packages landing css--*/
.pkg-header img{width:100%; height:auto; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}

.nutshell-infobx{text-align:center; padding-top:13px; padding-bottom:13px; margin-top:5px; margin-bottom:5px; border-right:1px dotted #eee; letter-spacing:0.02em;}
.nutshell-infobx p{font:17px "PT Sans"; color:#fff; margin-bottom:0px; margin-top:2px;}
.nutshell-infobx span, .nutshell-pricebx span{display:block; font:17px "PT Sans"; color:#ffcc9e;}

.nutshell-pricebx{text-align:center; padding-top:6px; padding-bottom:5px; margin-top:5px; margin-bottom:5px; border-right:1px dotted #eee; letter-spacing:0.02em;}
.nutshell-pricebx i{font:17px "PT Sans"; color:#fff;}
.nutshell-pricebx strong{font:30px "PT Sans"; color:#f95b05; display:block; margin:0px; padding:0px;}

.pkgtour-enqbtt{margin-top:30px; margin-bottom:5px; text-align:center;}
.pkgtour-enqbtt a{font:17px "PT Sans"; color:#fff; text-transform:uppercase; background-color:#f96305; padding:8px 15px;}
.pkgtour-enqbtt a:hover, .map-pkgbtt a:hover{background-color:#074c4a; color:#fff;}

.map-pkgbtt{border-right:1px dotted #eee; padding-top:25px; padding-bottom:25px; margin-top:5px;}
.map-pkgbtt a{font:17px "PT Sans"; color:#111; text-transform:uppercase; background-color:#ccc; padding:8px 15px;}
.map-pkgbtt a i{font-size:14px;}

.eqbt{margin-bottom:30px;}

.destination-pkgicon{width:16px; height:17px; background:url(../images/packages-detail-icons.png) no-repeat -66px 0px; display:inline-block; vertical-align:middle; margin-top:-4px;}

.destpkg-txt{font:15px "Roboto Slab"; color:#666; border-bottom:1px dotted #9c9c9c; padding-bottom:10px; display:inline-block;}

.introd-txt{letter-spacing:0.02em; margin-top:5px;}
.heading-txtbx{margin-top:15px; margin-bottom:20px;}
.heading-txtbx span{display:inline-block !important; font:26px "PT Sans" !important; color:#074c4a !important; margin-bottom:0px !important; text-transform:uppercase; border-bottom:1px solid #d0cebf; padding-bottom:5px;}
.heading-txtbx span::after{background:url(../images/org-line.png) no-repeat center center; content:""; display:block; width:72px; height:13px; margin:4px auto -12px;}

.mgbk{margin-top:0px;}

.introd-txt p, .pkgtour-txtbx p{font:15px/25px "Roboto Slab"; color:#333; text-align:justify;}

ul.trip-hightxt{margin:35px 0 5px;}
ul.trip-hightxt li{line-height:36px; background:#fff url(../images/right-arrow.png) no-repeat 10px 11px; font:15px "Roboto Slab"; color:#333; text-align:left; letter-spacing:0.02em; padding:8px 15px 8px 32px; margin-bottom:10px; margin-right:5px; border:1px solid #dbdbdb; -webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px;}

.pkgtour-txtbx{letter-spacing:0.02em; margin-top:20px; margin-bottom:10px;}

.itinerary-dayinfo{background-color:#f2f2f2; font:18px "PT Sans"; color:#074c4a; margin-bottom:15px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.itinerary-dayinfo span{background-color:#074c4a; display:inline-block; color:#fff; padding:8px 16px; text-align:center; position:relative; margin-right:12px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.itinerary-dayinfo span::after{width:0; height:0; position:absolute; right:-9.5px; top:11px; border-top:10px solid transparent; border-bottom:10px solid transparent; border-left:10px solid #074c4a; content:"";}

.pkg-txtbx{letter-spacing:0.02em; margin-top:5px;}
.pkg-txtbx p{font:15px/25px "Roboto Slab"; color:#333;}
.pkg-txtbx ul, .htlld-txtbx ul{margin:0px; padding-left:15px;}
.pkg-txtbx ul li, .htlld-txtbx ul li{list-style:circle; font:15px "Roboto Slab"; color:#333; padding:5px 0px;}

.pkg-txtbx table, .text-wrapper table{width:100%; margin-top:15px; margin-bottom:20px;}
.pkg-txtbx tr, .text-wrapper tr{background-color:#fff;}
.pkg-txtbx tr:nth-child(2n), .text-wrapper tr:nth-child(2n){background-color:#f1f1f2;}
.pkg-txtbx th, .text-wrapper th{background-color:#239693; font:22px "PT Sans"; color:#fff; text-align:center; padding-top:8px; padding-bottom:8px;}
.pkg-txtbx td, .text-wrapper td{text-align:center; padding-top:10px; padding-bottom:10px; font:15px "Roboto Slab";}

.pkgcont-wrap{background:#454445 url(../images/bg_img.png) repeat left top; margin-top:15px; margin-bottom:10px; padding:17px 10px; box-shadow:0 6px 5px -5px #333; letter-spacing:0.02em;}
.pkgcont-wrap img{float:left; margin:7px 8px 0px 3px;}
.pkgcont-wrap span{font:17px "Roboto Slab"; color:#fff; display:block;}
.pkgcont-wrap strong{font:bold 22px "PT Sans"; color:#ffb648; display:block; margin-top:-3px;}

.pkgbx-gallery{margin-top:15px; margin-bottom:10px; box-shadow:0 6px 5px -5px #333;}
.pkgbx-gallery .col-xs-6:nth-child(2){padding-right:1px; margin-top:2px;}
.pkgbx-gallery .col-xs-6:nth-child(3){padding-left:1px; margin-top:2px;}
.pkgbx-gallery .pkglly-txt{font:16px "PT Sans"; color:#fff; text-align:center; text-transform:uppercase; padding:8px; margin-top:2px; background-color:#415a68; display:block; letter-spacing:0.02em;}
.pkgbx-gallery .pkglly-txt:hover{background-color:#f96305;}

.other-tourpkg{margin-top:15px; margin-bottom:10px; box-shadow:0 6px 5px -5px #333; letter-spacing:0.02em;}
.othtour-headbx{font:18px "PT Sans"; color:#fff; text-align:center; text-transform:uppercase; padding:8px 0px; background-color:#525252;}
.othtour-pkgbx{margin-top:2px; background-color:#eee; padding:5px 10px;}
.othtour-pkgbx ul li{list-style:none; margin:10px 0px; padding:10px; background-color:#fff;}
.othtour-pkgbx ul li .othpkg-link{font:15px/18px "Roboto Slab"; color:#222; display:block; margin-bottom:5px;}
.othtour-pkgbx ul li .othpkg-link:hover{color:#f96305;}
.othtour-pkgbx ul li p{font:14px "PT Sans"; color:#777; margin-bottom:0px;}
/*---packages landing css end--*/

/*---destinations css--*/
.dest-bg{background:url(../images/destinations-bg.jpg) no-repeat center center; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}

.destmain-text p{font:15px/24px "Roboto Slab"; color:#333; text-align:justify; margin-top:15px;}
.destmain-pics{margin-top:-65px;}

.destmain-wrap{margin-top:10px; margin-bottom:15px; letter-spacing:0.02em; text-align:center;}
.destmain-wrap span{display:block; font:17px "Roboto Slab"; color:#222; padding:28px 0 10px; margin-top:-21px; position:relative; border-bottom:1px solid #ccc; background:url(../images/destination-arrow.png) no-repeat center top;}
.destmain-wrap a:hover > span{color:#f96305; border-bottom:1px solid #f96305;}
/*---destinations css end--*/

/*---destinations right pannel css--*/
.places-heading{font:22px "PT Sans"; color:#fff; text-align:center; text-transform:uppercase; margin-top:20px; padding:10px 0px; letter-spacing:0.02em;}
.places-heading::after{background:url(../images/org-line.png) no-repeat center center; content:""; display:block; width:72px; height:13px; margin:0 auto -17px;}

.pl1{background-color:#074c4a; clear:both;}
.pl2{background-color:#0b1922; clear:both;}

.guide-subhd, .guide-pkgbx{margin-top:10px; margin-bottom:5px;}
.guide-subhd ul li{list-style:none; border-bottom:1px dotted #9c9c9c;}
.guide-subhd ul li a{font:16px "PT Sans"; color:#333; display:block; padding:10px 4px;}
.guide-subhd ul li a:hover, .guide-subhd ul li a:hover::after{color:#f96305;}
.guide-subhd ul li a::after{content:"\e080"; font-family:"Glyphicons Halflings"; font-size:8px; color:#333; margin-top:6px; float:right;}

.guide-pkgbx ul li{list-style:none; border-bottom:1px dotted #9c9c9c; padding:15px 0px;}
.guidelink{margin-top:40px; display:block; text-align:center;}
.guidelink span{display:block; font:20px Rockwell; color:#0b1922;}
.guidelink p{font:16px "PT Sans"; color:#777;}
/*---destinations right pannel css end--*/

/*---destinations landing css--*/
.destdetail-bg{background:url(../images/destination-detailbg.jpg) no-repeat center center; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}

.destdetail-img{margin-top:10px; margin-bottom:5px;}

.destdetail-text{margin-top:20px; letter-spacing:0.02em;}
.destdetail-text p{font:italic 15px/24px "PT Sans"; color:#fff; text-align:center; margin-bottom:30px;}
.destdetail-text p::after{content:""; display:block; width:50%; border-bottom:1px solid #fff; margin:20px auto 0;}

.glicon img{display:block; margin:0 auto;}

.destdetail-txtwrap{margin-top:20px; letter-spacing:0.02em;}
.destdetail-txtwrap p{font:15px/25px "Roboto Slab"; color:#333; text-align:justify;}
.destdetail-txtwrap span{font:22px "PT Sans"; color:#074c4a; margin-bottom:8px; display:block;}
.destdetail-txtwrap ul{padding-left:15px;}
.destdetail-txtwrap ul li{font:15px/25px "Roboto Slab"; color:#333; list-style:circle; padding-bottom:3px;}

.destdetl-hdbx{font:24px "PT Sans"; color:#1d435b; margin-bottom:10px;}
.destdetl-hdbx::before{background:url(../images/dotted-line.png) repeat center center; content:""; display:block; width:70%; height:3px; margin:25px auto 20px;}
.destdetl-hdbx:first-child::before{background:none; margin:0px;}

.destdetl-links{background-color:#195e5c; display:inline-block; margin:15px; padding:8px 20px; font:17px "PT Sans"; color:#fff; text-transform:uppercase; letter-spacing:0.02em; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.bttbg1{background:#195e5c url(../images/tour-booking-icon.png) no-repeat -1px 2px; padding-left:38px;}
.bttbg2{background:#195e5c url(../images/back-icon.png) no-repeat -1px 2px; padding-left:30px;}
.bttbg3{background:#195e5c url(../images/faqs-icon.png) no-repeat -1px 5px; padding-left:30px;}
.bttbg4{background:#195e5c url(../images/tailor-made-icon.png) no-repeat -1px 3px; padding-left:33px;}
.destdetl-links:hover{background-color:#012f2d; color:#fff;}
/*---destinations landing css end--*/

/*---destinations landing right css--*/
.destdetl-planner{background:url(../images/customize-tour.jpg) no-repeat center center; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}
.destdetl-planner, .subscribe-mail{margin-top:25px; margin-bottom:10px; padding:12px; box-shadow:0 6px 5px -5px #333; min-height:215px; text-align:center;}
.destdetl-planner span{display:block; font:22px/24px "PT Sans"; color:#fff;}
.destdetl-planner img{margin:13px auto 17px; clear:both;}
.destdetl-plannbtt, .subscribe-mailbtt{font:17px "PT Sans"; color:#fff; padding:8px 20px; border:2px solid #fff; text-transform:uppercase; display:inline-block; cursor:pointer;}
.destdetl-plannbtt:hover, .subscribe-mailbtt:hover{background-color:#f96305;}
/*---destinations landing right css end--*/

.subscribe-mail{background:url(../images/signup-newsletter.jpg) no-repeat center center; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}
.subscribe-mail span{display:block; font:22px/24px "PT Sans"; color:#fff600; margin-top:5px;}
.subscribe-mail p{font:16px/20px "PT Sans"; color:#fff; margin-top:5px;}
.subscribe-mail img{margin:0 auto;}

.other-destbx{background:url(../images/other-destination.jpg) no-repeat center center; min-height:360px; margin-bottom:-15px; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}
.other-desthd{font:26px "PT Sans"; color:#fff; text-transform:uppercase; text-align:center; margin-top:30px; letter-spacing:0.02em;}

.otherdest-wrap{padding-left:40px; padding-right:40px; margin-top:25px;}
.dbg{background-color:#fff;}

/* owl Slides */
#owl-demo .item{display:block; margin:10px;}

.owl-theme .owl-controls .owl-buttons div {padding:5px 9px;}
.owl-theme .owl-buttons i{margin-top:2px;}
.owl-theme .owl-controls .owl-buttons div {position:absolute;}
.owl-theme .owl-controls .owl-buttons .owl-prev{left:-45px; top:90px;}
.owl-theme .owl-controls .owl-buttons .owl-next{right:-45px; top:90px;}

.owl-carousel .owl-wrapper:after {content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0;}

.owl-carousel{display:none; position:relative; width:100%; -ms-touch-action:pan-y;}
.owl-carousel .owl-wrapper{display:none; position:relative; -webkit-transform:translate3d(0px, 0px, 0px);}
.owl-carousel .owl-wrapper-outer{overflow:hidden; position:relative; width:100%;}
.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition:height 500ms ease-in-out; -moz-transition:height 500ms ease-in-out; -ms-transition:height 500ms ease-in-out; -o-transition:height 500ms ease-in-out; transition:height 500ms ease-in-out;}

.owl-carousel .owl-item{float:left;}
.owl-controls .owl-page, .owl-controls .owl-buttons div{cursor:pointer;}
.owl-controls {-webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}

.grabbing {cursor:url(grabbing.png) 8 8, move;}

.owl-carousel  .owl-wrapper, .owl-carousel  .owl-item{-webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; -ms-backface-visibility:hidden; -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0);}

.owl-theme .owl-controls{margin-top:10px; text-align:center;}

.owl-theme .owl-controls .owl-buttons div{color:#fff; display:inline-block; zoom:1; *display:inline;/*IE7 life-saver */ margin:5px; padding:8px 10px; color:#fff; font-size:12px; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px; background:#869791; filter:Alpha(Opacity=50);/*IE7 fix*/ opacity:0.5;}

.owl-theme .owl-controls.clickable .owl-buttons div:hover{filter:Alpha(Opacity=100);/*IE7 fix*/ opacity:1; text-decoration:none;}

.owl-theme .owl-controls .owl-page{display:inline-block; zoom:1; *display:inline;/*IE7 life-saver */}
.owl-theme .owl-controls .owl-page span{display:block; width:12px; height:12px; margin:5px 7px; filter:Alpha(Opacity=50);/*IE7 fix*/ opacity:0.5; -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px; background:#869791;}

.owlhide{display:none;}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{filter:Alpha(Opacity=100);/*IE7 fix*/ opacity:1;}

.owl-theme .owl-controls .owl-page span.owl-numbers{height:auto; width:auto; color:#fff; padding:2px 10px; font-size:12px; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px;}
.owl-item.loading{min-height:150px;}
/* owl Slides end */

/*---travel guide css--*/
.trlguide-bgbx{position:relative; margin-top:5px;}
.trlguide-fttxt{position:absolute; top:10px; right:0px; font:24px "PT Sans"; color:#fff; text-align:center; letter-spacing:0.02em; background-color:#f96305; padding:5px 10px 5px 13px;}
.trlguide-fttxt::after{content:""; display:block; width:0; height:0; border-top:10px solid transparent; border-bottom:10px solid transparent; border-left:10px solid #f96305; float:right; margin-right:-20px; margin-top:6px;}

.trlguide-fastfct{margin-top:5px; letter-spacing:0.02em;}
.trlguide-fastfct ul li{list-style:none; border-bottom:1px solid #d0cebf; padding:10px 0px;}
.trlguide-fastfct ul li:last-child{border-bottom:none;}
.trlguide-fastfct ul li span{display:block; font:16px "PT Sans"; color:#777;}
.trlguide-fastfct ul li p{font:18px "PT Sans"; color:#333; margin-bottom:0px;}

.txtbx p{font:15px/24px "Roboto Slab"; color:#333; letter-spacing:0.02em;}

.sab-smallhead{display:block; font:24px "PT Sans"; color:#fff; text-transform:uppercase; letter-spacing:0.02em; background:url(../images/text-bg.png) no-repeat center center; height:36px; padding-top:2px; margin-top:25px;}

.trlguide-things{margin-top:20px; text-align:center; letter-spacing:0.02em; overflow:hidden;}
.trlguide-things ul li{list-style:none; display:inline-block; margin:10px 15px;}
.trlguide-things ul li i{margin-top:-20px; margin-right:-45px; display:block;}
.trlguide-things ul li span{display:block; font:17px "Roboto Slab"; color:#333; margin-top:5px;}
.trlguide-things ul li a:hover > span{color:#f96305;}

.trlguide-textbx{margin-top:5px; letter-spacing:0.02em;}
.trlguide-textbx img{float:left; margin-right:15px; box-shadow:0 6px 5px -5px #333;}
.trlguide-textbx strong{font:24px "PT Sans"; color:#074c4a; text-transform:uppercase; margin-bottom:5px; display:block;}
.trlguide-textbx p{font:15px/25px "Roboto Slab"; color:#333; text-align:justify; margin-bottom:0px;}
.trlguide-textbx p a{color:#cc7d06;}
.trlgd-read{float:right; font:16px "PT Sans"; color:#f96305 !important; text-transform:uppercase; padding:6px 20px; margin-top:5px; border:1px solid #f96305; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.trlgd-read:hover{color:#fff !important; background-color:#f96305;}
.trlguide-textbx::before{background:url(../images/dotted-line.png) repeat center center; content:""; display:block; width:70%; height:3px; margin:35px auto 35px;}
.trlguide-textbx:first-child::before{background:none; margin-top:0px;}

.trlguide-weather{margin-top:25px; margin-bottom:5px; letter-spacing:0.02em;}
.trlweather-head{background-color:#007b8a; font:22px "PT Sans"; color:#fff; text-transform:uppercase; padding:7px 0px;}
.trlweather-timedt{background-color:#58afc2; font:15px "PT Sans"; color:#111; text-align:left; padding:3px 10px; float:left; width:100%;}
.trlweather-timedt span{text-align:right; font-size:20px; float:right; margin-top:-4px;}

.trlweather-wrap{background:url(../images/travelguide-weather.jpg) no-repeat center center; min-height:210px; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover; box-shadow:0 6px 5px -5px #333;}
.trlweather-icon{margin-top:30px; text-align:right;}
.trlweather-icon img{float:right;}
.trlweather-temp{margin-top:0px; text-align:left;}
.trlweather-temp strong{display:block; font:72px "Roboto Slab"; color:#ffd800; margin:0px; margin-left:5px; padding:0px;}
.trlweather-temp span{display:block; font:18px "Roboto Slab"; color:#fff; margin:-15px 0 0; padding:0px;}

.trlweather-wind{margin-top:12px; border-top:1px solid #9b9b9b; border-bottom:1px solid #9b9b9b; padding:10px; font:16px "PT Sans"; color:#fff;}
.forecastlink{font:16px "PT Sans"; color:#fff; text-transform:uppercase; display:block; margin-top:13px;}
.forecastlink:hover{color:#f9c805;}
/*---travel guide css end--*/

/*---trip planner css--*/
.trippl-bg{background:url(../images/Trip-Planner-bg.jpg) no-repeat center center; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}

.resources-wrapper{padding:10px; margin-top:20px; letter-spacing:0.02em; background:url(../images/bgline.png) repeat left top; border:solid 1px #d7d7d7; -webkit-box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5); box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5);}
.resources-innerbx{background-color:#fff; padding:10px 15px;}
.resources-head{font:24px "PT Sans"; color:#074c4a; text-transform:uppercase;}
.resources-innerbx p{font:15px/23px "Roboto Slab"; color:#333; text-align:justify; margin-top:8px;}

.resources-more{float:right; background-color:#44a6b6;}
.resources-more:hover{background-color:#368f9f;}
.resources-more span{font:16px "PT Sans"; color:#fff; float:left; margin-top:7px; padding-left:10px;}
.resources-more i{font:24px "PT Sans"; color:#fff; background-color:#368f9f; float:right; margin-left:10px; padding:0px 12px 4px;}
/*---trip planner css end--*/

.mgtop{margin-top:0px;}

.text-wrapper{letter-spacing:0.02em;}
.text-wrapper span, .introd-txt span{font:22px "PT Sans"; color:#074c4a; margin-bottom:8px; display:block;}
.text-wrapper p{font:15px/24px "Roboto Slab"; color:#333; text-align:justify;}
.text-wrapper a{color:#cc7d06;}
.text-wrapper ul, .introd-txt ul{padding-left:15px;}
.text-wrapper ul li, .introd-txt ul li{list-style:circle; font:15px/24px "Roboto Slab"; color:#333; padding-bottom:3px;}

.themes-wrap{margin-top:10px; margin-bottom:15px; letter-spacing:0.02em; text-align:center;}
.themes-innerbx{margin-top:-21px; padding-top:8px; position:relative; background:url(../images/white-arrow.png) no-repeat center top;}
.themes-wrap span{display:block; font:17px "Roboto Slab"; color:#222; border-bottom:1px solid #ccc; padding-bottom:10px;}
.themes-wrap a:hover > .themes-innerbx span{color:#f96305; border-bottom:1px solid #f96305;}

.trending-pkgsbx{margin-top:10px; margin-bottom:15px; letter-spacing:0.02em; text-align:center;}
.trending-wrap{position:relative; -webkit-box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5); box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5);}
.trending-pkgsbx i{position:absolute; top:0px; left:15px;}
.trendpkgs-innerbx{margin-top:-21px; padding-top:8px; position:relative; background:url(../images/white-arrow.png) no-repeat center top;}
.trending-pkgsbx span{display:block; font:16px/18px "PT Sans"; color:#777; width:40px; margin:0 auto; border-bottom:1px solid #ccc; padding-bottom:7px;}
.trending-pkgsbx strong{display:block; font:17px "Roboto Slab"; color:#222; margin-top:3px; min-height:50px; padding:0 6px;}
.trendpkg-link{display:block; font:14px "PT Sans"; color:#fff; text-transform:uppercase; margin-top:15px; margin-bottom:10px; padding:8px 0px; background-color:#f96305;}
.trendpkg-link:hover{background-color:#074c4a;}

.pkgbtt{font:16px "PT Sans"; color:#fff; text-transform:uppercase; text-align:center; display:inline-block; padding:10px 20px; margin-top:10px; margin-bottom:20px; background-color:#0b1922; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; letter-spacing:0.3em;}
.pkgbtt:hover{color:#fff; background-color:#f96305;}

.rhtbrd{border-right:1px solid #ccc;}

/*---festivals main css--*/
.festival-bg{background:url(../images/festivals-bg.jpg) no-repeat center center; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}

.festival-wrap{margin-top:0px; letter-spacing:0.02em;}
.festival-wrap::before{background:url(../images/dotted-line.png) repeat center center; content:""; display:block; width:90%; height:3px; margin:25px auto;}
.festival-wrap:first-child::before{background:none; margin-top:0px;}
.festival-wrap:last-child{margin-bottom:25px;}

.festvl-imgbx{position:relative;}
.fstmth{padding:0px;}
.festvl-month{font:20px/21px "PT Sans"; color:#464646; text-align:center; padding:18px 15px 0px; margin-top:25px; background:url(../images/month-icon1.jpg) no-repeat left top; height:71px; width:73px;}
.festvl-month span{display:block;}

.festvl-eventbx{padding-left:0px;}
.festvl-name{font:24px/24px "PT Sans"; color:#074c4a;}
.festvl-venue{font:15px "PT Sans"; color:#464646; margin-top:3px;}
span.event_clr{color:#008594;}
.venuetxt{background-color:#ececec; color:#222; padding:0 7px; font-size:14px;}
.festvl-time{font:15px "PT Sans"; color:#555; margin-top:3px; margin-bottom:3px;}
.festvl-time i{background:url(../images/time-icon.png) no-repeat left top; width:12px; height:12px; display:inline-block; vertical-align:middle; margin-top:-3px;}
.festvl-eventbx p{font:15px/22px "Roboto Slab"; color:#333; text-align:justify; margin-bottom:0px;}
/*---festivals main css end--*/

/*---festivals landing css--*/
.festvl-ldimg, .festvl-topbx{margin-top:20px;}

.festh1{display:inline-block; font:32px "PT Sans"; color:#074c4a; text-transform:uppercase; margin-top:12px; margin-bottom:0px;}

.festvl-mthtxt{font:20px/21px "PT Sans"; color:#464646; text-align:center; padding:18px 15px 0px; margin-top:0px; margin-right:15px; background:url(../images/month-icon1.jpg) no-repeat left top; height:71px; width:73px; float:left;}
.festvl-mthtxt span{display:block;}

.festvl-infobx{margin-top:20px; padding:0 20px; letter-spacing:0.02em; background-color:#f2f3f3; min-height:250px;}
.festvl-infobx ul li{list-style:none; padding:17px 0px; border-bottom:1px solid #d0cebf;}
.festvl-infobx ul li:last-child{border-bottom:none;}
.festvl-infobx ul li i{float:left; font-size:26px; color:#bababa; margin-top:12px; margin-right:15px;}
.festvl-infobx ul li span{display:block; font:16px "PT Sans"; color:#777;}
.festvl-infobx ul li p{font:18px "PT Sans"; color:#333; margin-bottom:0px;}
/*---festivals landing css end--*/

/*---hotels main css--*/
.hotelslst-wrap{background:url(../images/hotels-bg.jpg) no-repeat center center; min-height:230px; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}

.htlslst-outterbx{overflow:hidden; letter-spacing:0.02em; background-color:#fff; margin-top:15px; margin-bottom:15px;}

.htlslst-imgbx{padding-left:0px;}
.htlslst-imgbx img{position:relative;}
.htlarr{top:16px; right:23px;}

.htlslst-btt{margin-top:40px;}

.htlslst-detailbx{padding-left:0px; min-height:185px; padding-top:17px; padding-bottom:5px; -moz-box-shadow:5px 0 5px -5px rgba(185,185,185,0.5); -webkit-box-shadow:5px 0 5px -5px rgba(185,185,185,0.5); box-shadow:5px 0 5px -5px rgba(185,185,185,0.5);}
.htlslst-detailbx img{display:block; margin-bottom:8px; margin-left:-3px;}
.htlslst-detailbx a::before{content:""; display:block; width:50px; height:2px; background-color:#ddd; margin-bottom:5px;}
.htlslst-detailbx a{font:22px "PT Sans"; color:#074c4a; text-transform:uppercase;}
.htlslst-detailbx span{display:block; font:15px "PT Sans"; color:#777; margin-top:8px; margin-bottom:8px;}
.htlslst-detailbx p{font:15px/22px "Roboto Slab"; color:#333; text-align:justify;}
/*---hotels main css end--*/

/*---hotels landing css--*/
.mgbtt{margin-bottom:0px;}

.htlimgbx{margin-top:10px; position:relative;}
.htlimg-glly a{background:#f96305 url(../images/camera-icon.png) no-repeat left 8px; position:absolute; bottom:0px; right:10%; font:italic 18px "PT Sans"; color:#fff; padding:10px 25px 10px 35px; letter-spacing:0.02em; border-top-left-radius:5px;border-top-right-radius:5px; outline:none; -webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;}

.overview-icon, .facilities-icon{width:42px; height:42px; background-image:url(../images/landing-icons.png); background-repeat:no-repeat; display:inline-block; vertical-align:text-top;}
.overview-icon{background-position:0 0;}
.facilities-icon{background-position:-50px 0px;}

.linfo-wrap{background-color:#f6f6f6; padding:28px 20px 20px; margin-top:30px; margin-bottom:10px;}
.linfo-innerbx{border:1px solid #afa593; padding:15px; letter-spacing:0.02em;}
.linfo-innerbx p{font:italic 15px/24px "Roboto Slab"; color:#333; border-left:4px solid #afa593; padding-left:10px;}
.linfo-innerbx article p span{font-size:23px;}

.htlld-txtbx{letter-spacing:0.02em;}
.htlld-txthd{margin-top:10px; margin-bottom:10px; font:24px "Roboto Slab"; color:#222;}
.htlld-txtbx p{font:15px/24px "Roboto Slab"; color:#333; text-align:justify;}

.htlld-roomsbx{background:url(../images/room-sketch.jpg) no-repeat right top; margin-top:20px;}
.htlld-roomsbx span{display:block; font:24px "PT Sans"; color:#666; padding-left:10px;}
.htlld-roomsbx strong{display:block; font:bold 30px "Roboto Slab"; color:#cb3904; padding-left:25px;}

.htldinfo-txthd{text-align:center; width:30%; margin:-35px auto 10px; font:italic 32px "Roboto Slab"; color:#074c4a; background-color:#f6f6f6;}
.facilities-txthd{text-align:center; margin:10px auto; font:italic 32px "Roboto Slab"; color:#074c4a;}

.othbg-wrap{background:url(../images/bg.png) repeat left top; margin-top:15px; margin-bottom:15px;}

.facilities-txtbx{margin-top:15px; margin-bottom:15px; letter-spacing:0.02em; text-align:center;}
.facilities-txtbx ul{margin:20px 0 10px; padding:0px;}
.facilities-txtbx ul li{line-height:36px; display:inline-block; list-style:none; background:#fff url(../images/click-arrow.png) no-repeat 5px 7px; font:17px "Roboto Slab"; color:#222; padding:6px 8px 6px 28px; margin-bottom:10px; margin-right:10px; border:1px solid #dbdbdb; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}

.htlbook-link{background:#f96305 url(../images/bell-icon.png) no-repeat 95% 20px; display:inline-block; margin:15px; padding:10px 45px 10px 25px; font:22px "Roboto Slab"; color:#fff; text-transform:uppercase; letter-spacing:0.02em; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.htlbook-link:hover{background-color:#074c4a; color:#fff;}
.htlbook-link:focus{color:#fff;}
.htlbook-link i{text-transform:lowercase; font:22px 'PT Sans';}
/*---hotels landing css end--*/

/*---hotels landing booking css--*/
.htlpophead{font:small-caps 32px "Chaparral Pro"; color:#fff; text-align:center;}
.imgcap{margin-top:6px; float:left;}

.htpop{z-index:990;}

.bktopbg{background-color:#074c4a; position:relative; padding:10px; border-top-left-radius:5px; border-top-right-radius:5px; outline:none; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px;}
.bharrow{width:0px; height:0px; position:absolute; left:50%; bottom:-10px; margin-left:-8px; border-top-color:#074c4a; border-style:solid; border-width:10px 8.5px 0 8.5px; border-color:#074c4a transparent transparent transparent;}

.bookgform{background:url(../images/ringbig.png) no-repeat center bottom; float:left;}
.bookgform .input-group-addon, .enquiry-wrapper .input-group-addon{color:#777; background-color:#fff; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075); box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075); -webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; -o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.bookgform .form-control:focus, .enquiry-wrapper .form-control:focus{border-left:1px solid #66afe9 !important;}
.bookgform .input-group .form-control:first-child, .contact-innerbx .input-group .form-control:first-child, .enquiry-wrapper .input-group .form-control:first-child, .htlbooking-innerbx .input-group .form-control:first-child{-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.bookgform .enrds, .contact-innerbx .enrds, .enquiry-wrapper .enrds, .htlbooking-innerbx .enrds{border-top-left-radius:0 !important; border-bottom-left-radius:0 !important;}
.bookgform select{color:#777; padding-left:5px;}
.bookgform .form-control::-moz-placeholder{color:#777;}
.cpbrd{border-top-right-radius:4px !important; border-bottom-right-radius:4px !important; outline:none; -webkit-border-top-right-radius:4px !important; -webkit-border-bottom-right-radius:4px !important;}

.pbttmg button{background-color:#074c4a; border:1px solid #074c4a;}

.adults-icon{width:17px; height:13px; background:url(../images/form-icons.png) no-repeat 0 0; display:block;}
.children-icon{width:18px; height:12px; background:url(../images/form-icons.png) no-repeat -26px 0px; display:block;}
/*---hotels landing booking css end--*/

/*---offers css--*/
.offer-bg{background:url(../images/offer-bg.jpg) no-repeat fixed center top; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover; margin-bottom:-15px;}

.offers-wrapper{margin-top:0px; margin-bottom:15px; letter-spacing:0.02em; background-color:#fff; padding:0px 15px;}
.offers-wrapper::before, .offers-wrapper::after{background:url(../images/dotted-line.png) repeat center center; content:""; display:block; width:90%; height:3px; margin:15px auto 25px;}
.offers-wrapper::before{margin:15px auto 25px;}
.offers-wrapper::after{margin:20px auto 0px;}

.offer-textbx{letter-spacing:0.02em; margin-top:13px; margin-bottom:9px;}
.offer-textbx i{font:italic 16px "PT Sans"; color:#777; display:block;}
.offer-textbx ul{margin:10px 0 0px; padding:0px;}
.offer-textbx ul li{background-color:#eff0f0; font:14px "PT Sans"; color:#333; padding:4px 12px 5px; margin-right:6px; margin-bottom:10px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}

.ofrtxt{font:16px/26px "PT Sans"; color:#333; text-align:center; margin-top:15px; margin-bottom:8px; padding:20px; background-color:#eff0f0; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; position:relative; border:1px dashed #a4a4a4;}
/*.ofrtxt::before{content:""; width:0; height:0; border-top:15px solid transparent; border-bottom:15px solid transparent; border-right:15px solid #eff0f0; position:absolute; left:-15px; top:57px;}*/

.offer-pkgdate{background:url(../images/calendar-icon.png) no-repeat left top;}
.offer-pkgdate span{border:1px solid #8d8d8d; border-left:none; font:16px "PT Sans"; color:#888; display:inline-block; padding:1px 10px 3px 39px; margin-top:2px;}

.offer-headlk{font:32px "PT Sans"; color:#074c4a; text-transform:uppercase; display:block; margin:10px 0 0px;}
.offer-headlk1{font:32px "PT Sans"; color:#f95b05; text-decoration:underline; text-transform:uppercase; display:block; margin-top:0px;}
.offer-headlk1:hover{text-decoration:underline;}

.offer-pricbx{margin-top:10px; border-top:1px dotted #9c9c9c; border-bottom:1px dotted #9c9c9c; float:left; width:100%; padding-bottom:5px; font:18px "PT Sans"; color:#999;}
.offprc1{margin-top:11px; text-align:left;}
.offprc2{text-align:right;}
.offprc3{margin-top:0px; text-align:left;}
.offprc3 p{font:normal 34px "Roboto Slab"; color:#f95b05; display:inline-block; margin:0px;}
.offer-pricbx span{background:url(../images/rupee-gray.png) no-repeat 5px 12px; font-style:normal; text-decoration:line-through; color:#777; font-size:24px; padding-left:15px;}
.offer-pricbx strong{background:url(../images/rupee-org.png) no-repeat 5px 19px; font:normal 34px "Roboto Slab"; color:#f95b05; padding-left:17px;}

.offer-links{background-color:#f96305; display:inline-block; margin:15px; padding:8px 20px; font:17px "PT Sans"; color:#fff; text-transform:uppercase; letter-spacing:0.02em; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.offer-links:hover{background-color:#012f2d; color:#fff;}

.leftpull{float:left;}
.rightpull{float:right;}
/*---offers css end--*/

/*---climate landing page css--*/
.climate-bg{background:url(../images/weather-bg.jpg) no-repeat center center; min-height:150px; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}

.climate-wrap{margin-bottom:25px; letter-spacing:0.02em; border-top-left-radius:5px; border-top-right-radius:5px; outline:none; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; -webkit-box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5); box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5);}
.climate-hdbx{background:#5f91cc url(../images/weather-icons.png) no-repeat left top; min-height:36px; font:21px "Roboto Slab"; color:#fff; padding:3px 0 0 75px; border-top-left-radius:5px; border-top-right-radius:5px; outline:none; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px;}

.station-containerbx{border-bottom:1px solid #bebebe; background-color:#ffffff; background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e1e1e1)); background-image:-webkit-linear-gradient(top, #ffffff, #e1e1e1); background-image:-moz-linear-gradient(top, #ffffff, #e1e1e1); background-image:-ms-linear-gradient(top, #ffffff, #e1e1e1); background-image:-o-linear-gradient(top, #ffffff, #e1e1e1);background-image:linear-gradient(top, #ffffff, #e1e1e1); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#e1e1e1);}

.station-name{margin:8px 0px; border-right:1px dotted #bebebe;}
.station-name p{padding-left:20px; margin-bottom:0px; font:16px "PT Sans"; color:#555;}
.station-name:last-child{border-right:none;}
.station-name span{color:#096774; display:block; font-weight:bold;}
.station-name strong{color:#096774;}

.climate-textbx{border-right:1px dotted #bebebe; margin:15px 0px; text-align:center; min-height:120px;}
.climate-textbx:last-child{border-right:none;}
.climate-textbx img{margin-top:7px;}
.climate-texthd{font:16px "PT Sans"; color:#777; text-align:center; margin-bottom:7px;}

.tempreture-text{font:bold 26px "Roboto Slab"; color:#333;}
.tempmin-max span{font:16px "PT Sans"; color:#444; display:block;}

.tempbx{letter-spacing:0.02em;}
.tempbx ul li{width:100%; text-align:center; border-bottom:1px dotted #bebebe;}
.tempbx ul li:last-child{border-bottom:none;}
.tempbx ul li:first-child{background-color:#f4f4f4;}

.temp-day{font:16px "PT Sans"; color:#096774; margin:12px 0 0; padding-top:20px; padding-bottom:20px; border-right:1px dotted #bebebe;}

.day-Contentbx{margin:12px 0px; border-right:1px dotted #bebebe;}

.high-low{font:15px "PT Sans"; color:#333; text-align:left; padding-top:5px;}
.hghlow-txt{font:bold 16px "PT Sans"; color:#333; margin:7px 0px;}

.temp-desc{font:15px "PT Sans"; color:#333; margin:30px 0 0;}
/*---climate landing page css end--*/

/*---currency converter css--*/
.currency-convtbx{background:#222 url(../images/currency-bg.jpg) center center; min-height:300px; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover; margin-top:20px; margin-bottom:25px;}

.crrycont-wrap{padding:65px 25px 0px; letter-spacing:0.02em;}
.crrycont-wrap label{font:18px "PT Sans"; color:#fed90a; margin-bottom:10px;}
.crrycont-wrap .crry-calbtt{font:18px "PT Sans"; color:#fff; background-color:#f96305; padding:6px 25px; margin-top:33px; display:inline-block; width:auto; text-decoration:none; text-transform:uppercase; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; box-shadow:none; border:none;}

.crrycont-display{margin-top:5px; margin-bottom:10px; border:1px solid #bebebe; letter-spacing:0.02em; font:24px "PT Sans"; color:#333; text-align:center; padding:30px 0px;}
.crrycont-display span{display:block; font:33px "Roboto Slab"; color:#074c4a;}
/*---currency converter css end--*/

/*---testimonials css--*/
.testimonials-wrapper{letter-spacing:0.02em;}
.testimonials-wrapper blockquote{margin-bottom:40px;}
.testimonials-wrapper blockquote p{font:15px/24px "Roboto Slab"; color:#333; text-align:justify;}
.testimonials-wrapper blockquote p span{font-size:23px;}

.testimonials-wrapper blockquote p:first-child::before{background:url(../images/quotes.png) repeat left top; content:""; display:inline-block; width:45px; height:34px; margin-right:5px;}

.testml-name{display:inline-block; font:20px "PT Sans"; color:#111; border-top:1px dotted #074c4a; border-bottom:1px dotted #074c4a; padding:4px 12px; margin-top:5px;}
.testml-name i{color:#074c4a; font-style:normal; text-transform:uppercase;}
/*---testimonials css end--*/

/*---newsletter css--*/
.newsletter-bg{background:#222 url(../images/newsletter-bg.jpg) center center; min-height:670px; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover; margin-bottom:30px;}

.mail-icon-news img{margin:0 auto -55px; text-align:center; display:block;}

.newsletter-txtbx{padding:70px 90px 10px; letter-spacing:0.02em;}
.newsletter-txtbx p{font:17px/30px "Roboto Slab"; color:#fff; text-align:center;}

.newsletter-txtbx form{margin-top:35px; padding:0 90px;}

.nswdth1{padding-left:0px;}
.btt-newsltt{background:#f96305 url(../images/bttmail.png) no-repeat -3px top; font:17px "PT Sans"; color:#fff; padding:6px 17px 7px 58px; margin:0 auto; display:block; text-decoration:none; text-transform:uppercase; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; box-shadow:none; border:none; letter-spacing:0.02em;}
.btt-newsltt:hover{background-color:#074c4a; color:#fff;}

.newsltt-social{margin-top:130px; text-align:center;}
.newsltt-social ul{margin:0px; padding:0px; list-style:none;}
.newsltt-social ul li{display:inline-block; padding:0 5px;}

.facebook-newsltt, .twitter-newsltt, .gplus-newsltt{width:71px;height:70px; background-image:url(../images/social-media-icon.png); background-repeat:no-repeat;display:inline-block;}
.facebook-newsltt{background-position:0 0;}
.twitter-newsltt{background-position:-82px 0;}
.gplus-newsltt{background-position:-164px 0;}

.newsletter-txtbx h2{display:block; font:32px "PT Sans"; color:#fed90a;}
.newsletter-txtbx span{display:block; font:16px "PT Sans"; color:#fed90a; margin-bottom:35px;}

.nsltt{padding-right:0px;}
.newsletter-txtbx label{font:31px/29px "Roboto Slab"; color:#fed90a;}
.newsletter-txtbx .form-group{margin-bottom:25px;}

.newsltt-btt{background:#f96305 url(../images/mail-small.png) no-repeat left bottom; font:18px "PT Sans"; color:#fff; padding:6px 25px 6px 41px; margin-top:5px; margin-bottom:20px; display:inline-block; text-decoration:none; text-transform:uppercase; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; box-shadow:none; border:none;}
/*---newsletter css end--*/

/*---contact css--*/
.cont-left{padding-right:3px;}
.cont-right{padding-left:3px;}

.contact-bg1, .contact-bg2{min-height:650px; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover; margin-top:10px;}
.contact-bg1{background:#222 url(../images/contact-bg1.jpg) center center;}
.contact-bg2{background:#222 url(../images/contact-bg2.jpg) center center;}

.contact-txtbx, .contact-formbx{padding:0px 50px 20px; letter-spacing:0.02em;}

.contact-txtbx p{font:15px/27px "PT Sans"; color:#fff;}
.contact-txtbx p strong{font:19px "Roboto Slab"; color:#fed90a;}
.contact-txtbx p span{font-size:13px;}

.cont-heading{font:28px "PT Sans"; color:#fff; text-transform:uppercase; border-bottom:1px dotted #fff; display:inline-block; margin-top:30px; margin-bottom:20px; padding-bottom:10px;}

.contact-formbx .form-group{margin-bottom:25px;}
.contact-formbx .enrds, .booking-wrapper .enrds, .enquiry-txtbx .enrds, .customize-form .enrds{border-top-right-radius:4px !important; border-bottom-right-radius:4px !important;}
.contact-formbx .ltbrd, .booking-wrapper .ltbrd, .enquiry-txtbx .ltbrd, .customize-form .ltbrd{-webkit-border-radius:4px !important; -moz-border-radius:4px !important; border-radius:4px !important;}

.bttbx{background-color:#f96305; font:18px "PT Sans"; color:#fff; padding:6px 25px; margin-top:5px; margin-bottom:20px; display:inline-block; text-decoration:none; text-transform:uppercase; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; box-shadow:none; border:none;}
/*---contact css end--*/

/*---booking form css--*/
.booking-wrapper{margin-top:30px;}
.booking-wrapper label{color:#fff; font:17px "PT Sans";}
.booking-wrapper .form-group{margin-bottom:20px;}

.ntfld{background-color:#5c5c5c; padding:10px 15px; margin-bottom:15px;}
.ntfld label{padding-bottom:5px;}
.ntfld li{color:#fff; font:15px "PT Sans";}

.down-arrowbg{width:0px; height:0px; margin:25px auto -45px; border-top-color:#fff; border-style:solid; border-width:25px 25.5px 0 25.5px; border-color:#fff transparent transparent transparent; position:relative; z-index:100;}
/*---booking form css end--*/

/*---sitemap css--*/
.sitemap-wrapper{background-color:#f0f0ef; padding:15px 15px 10px; margin-top:15px; margin-bottom:15px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; letter-spacing:0.02em;}
.sitemap-wrapper span{font:23px/23px "Roboto Slab"; color:#222; margin:0px; padding:0px 0 10px; display:block;}
.sitemap-wrapper ul{margin-left:0px;}
.sitemap-wrapper ul li{margin-bottom:5px; padding:12px 6px;}
.sitemap-wrapper ul li a{font:17px "PT Sans"; color:#333; padding:8px 12px; border:1px solid #dbdbdb; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.sitemap-wrapper ul li a:hover{color:#fff; text-decoration:none; border:1px solid #074c4a; background-color:#074c4a; background-image:none; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; outline:none;}
/*---sitemap css end--*/

/*---map css--*/
.map-wrapper{margin-top:10px; margin-bottom:10px; text-align:center; border:solid 1px #d7d7d7; -webkit-box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5); box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5);}
.map-heading{font:22px "PT Sans"; color:#074c4a; padding:5px 0 3px; display:inline-block;}
.map-head1{font:bold 18px "PT Sans"; color:#074c4a; padding:5px 0px; display:inline-block; min-height:58px;}
.map-wrapper img{display:block; margin:0 auto;}
.map-wrapper p{font:13px "PT Sans"; color:#fff; padding:8px 0px; margin:0px; background-color:#074c4a;}
.mpwth1 p{margin-top:15px;}

.map-lftpdd{padding-left:0;}
.map-rhtpdd{padding-right:0;}
.map-viewbtt{font:13px "PT Sans"; color:#fff; padding:8px 0px; margin:15px 0 0px; background-color:#e45800; display:block; text-align:center;}

@media (min-width: 1199px) and (max-width: 1800px) {
    .mapmodal-big{width:1100px;}
}
/*---map css end--*/

/*---enquiry form css--*/
.enquiry-bg{background:#222 url(../images/enquiry-bg.jpg) center center; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}

.enquiry-txtbx{margin-top:0px; padding:20px 40px; letter-spacing:0.02em;}
.enquiry-txtbx label{font:18px "PT Sans"; color:#fff; padding-top:4px;}

.enqfld{background:url(../images/blackbg.png) repeat left top; padding:8px 20px 20px; margin-bottom:25px;}
.enqfld label{color:#fed90a; font-size:24px; text-transform:uppercase; text-align:center; display:block; margin-bottom:8px;}
/*---enquiry form css end--*/

/*---thanks right pannel css--*/
.thnkfb{border:3px solid #ccc; margin-top:20px; padding:0 7px;}

.face-book{width:100%; height:auto; text-align:center;}
.face-book img{margin:0; padding:0;}

.email-subscribe{margin-top:15px;}
.subscribe-btt{background-color:#f96305; font:18px "PT Sans"; color:#fff; padding:6px 25px; margin-bottom:5px; display:inline-block; text-decoration:none; text-transform:uppercase; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; box-shadow:none; border:none;}

.fb-likebox{background:linear-gradient(to bottom, #FFFFFF 6%, #EDEDED 58%, #FFFFFF 99%) repeat scroll 0 0 rgba(0, 0, 0, 0); border-color: #D8E6EB; border-image:initial; border-style:solid; border-width:1px; height:33px; padding:8px 0 0 0; width:100%;}
.googleplus{background:linear-gradient(to bottom, #FFFFFF 11%, #F1F1F1 41%, #E1E1E1 63%, #F6F6F6 94%) repeat scroll 0 0 rgba(0, 0, 0, 0); border-color:#D8E6EB; border-image:initial; border-style:solid; border-width:1px; height:33px; margin-top:-2px; padding:8px 0 0 0; width:100%;}
.twitter_follow{background:linear-gradient(to bottom, #FFFFFF 6%, #F0F0F0 39%, #EDEDED 58%, #FFFFFF 99%) repeat scroll 0 0 rgba(0, 0, 0, 0); border-color:#D8E6EB; border-image: initial; border-style:solid; border-width:1px; height:33px; margin-top:-2px; padding:8px 0 0 0; width:100%;}
/*---thanks right pannel css end--*/

/*---error css--*/
.error-txt{margin-top:25px; letter-spacing:0.02em;}
.error-txt p{font:17px/26px "Roboto Slab"; color:#333;}
.error-txt ul{margin-top:10px; padding-left:15px;}
.error-txt ul li{list-style:circle; font:15px/24px "Roboto Slab"; color:#555; margin-bottom:5px;}

.error-subHd{font:28px "PT Sans"; color:#222; text-transform:uppercase; margin-top:20px;}
/*---error css end--*/

.links-others{margin-top:15px; padding:15px; border:1px solid #ccc;}
.links-others ul li{font:15px/24px "Roboto Slab"; color:#333;}
.links-others ul li a{color:#cc7d06;}

.lnksoth-subhd{font:22px "PT Sans"; color:#222; margin-bottom:5px;}

/*---customize css--*/
.txtcol{color:#fff !important;}

.customize-wrap{margin-top:15px; margin-bottom:10px; padding:5px 35px 20px; background:#f2f3f3 url(../images/trip-bg.jpg) no-repeat right bottom; letter-spacing:0.02em;}
.customize-wrap label{width:24%; margin-top:7px !important; margin-bottom:7px; margin-left:0px !important;}
.customize-wrap .checkbox .cr{width:1.5em; height:1.5em;}
.customize-wrap input{margin-top:20px;}

.customize-subhd{font:24px "PT Sans"; color:#fff; margin-bottom:10px;}

.customize-form{margin-top:15px;}
.customize-form label{font:17px "PT Sans"; color:#333;}
.customize-form .form-group{margin-bottom:20px;}
/*---customize css end--*/

/*---gallery css--*/
.gllymg{margin-top:10px;}

.gallery-wrap{margin-top:15px; margin-bottom:5px; letter-spacing:0.02em; text-align:center; border:solid 1px #d7d7d7; -webkit-box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5); box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5);}
.gallery-heading{font:22px "PT Sans"; color:#074c4a; padding:5px 0 3px; display:block;}
.gallery-wrap span{display:block; background:url(../images/gallery-icon.png) no-repeat right bottom; width:169px; height:30px; float:right; margin-top:-30px; position:relative;}

.jssor-outterbx{position:relative; margin:0 auto; top:0px; left:0px; width:1349px; height:436px; overflow:hidden; visibility:hidden;}
.jssor-slidesbx{cursor:default; position:relative; top:0px; left:0px; width:1349px; height:436px; overflow:hidden;}

.almt{bottom:16px; right:16px;}
.bulltwth{width:12px; height:12px;}

.slides .sldrnon{display:none;}

.jssorb01{position:absolute;}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av{position:absolute; width:12px; height:12px; filter:alpha(opacity=70); opacity:.7; overflow:hidden; cursor:pointer; border:#000 1px solid;}
.jssorb01 div{background-color:gray;}
.jssorb01 div:hover, .jssorb01 .av:hover{background-color:#d3d3d3;}
.jssorb01 .av{background-color:#fff;}
.jssorb01 .dn, .jssorb01 .dn:hover{background-color:#555;}

.jssora13l, .jssora13r{display:block; position:absolute; width:40px; height:50px; cursor:pointer; background:url(../images/slider-arrow.png) no-repeat; overflow:hidden;}
.jssora13l{background-position:0px 0px; top:0px; left:110px; width:40px; height:50px; z-index:103;}
.jssora13r{background-position:-60px 0px; top:0px; right:110px; width:40px; height:50px; z-index:103;}
.jssora13l:hover{background-position:-120px 0px;}
.jssora13r:hover{background-position:-180px 0px;}

.jssora-mask-l{position:absolute; height:100%; width:205px; background:url(../images/trans-light.png); z-index:102; top:0;}
.jssora-mask-r{position:absolute; height:100%; width:204px; background:url(../images/trans-light.png); z-index:102; top:0; right:0;}

.gallbx .modal-title{font:22px "PT Sans"; color:#074c4a;}
.gallbx .close{font-size:30px;}
.gallbx .modal-body {padding:0px 15px;}
/*---gallery css end--*/

.pkgywd{width:677px;}

/*---form landing page css--*/
.pkgform-wrapper{background-color:#222; margin-top:15px; letter-spacing:0.02em;}
.pkgform-headbx{font:22px "PT Sans"; color:#fff; background-color:#074c4a; padding-top:5px; padding-bottom:3px; margin:0px; position:relative;}
.pkgform-headbx a{padding-top:15px;}
.title-arrow{width:0px; height:0px; position:absolute; left:50%; bottom:-10px; margin-left:-8px; border-top-color:#d34205; border-style:solid; border-width:10px 8.5px 0 8.5px; border-color:#074c4a transparent transparent transparent;}
.pkgform-box{padding:13px 15px 15px; margin-top:5px;}

.leftpd{padding-left:0px;}
.capcode-img{margin-top:5px; padding-left:0px;}

.pkgform-box .submitbtt{font:17px "PT Sans"; color:#fff; background-color:#074c4a; padding:5px 25px; display:block; text-decoration:none; text-transform:uppercase; letter-spacing:0.02em; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; box-shadow:none; border:none;}
.pkgform-box .submitbtt:hover{color:#fff; background-color:#d34205; text-decoration:none;}
.expBut{background-color:#d34205; border-radius:3px ;color:#fff; cursor:pointer; float:right; font:13px "Century Gothic"; margin:7px 10px 0px 10px; padding:1px 5px 3.5px; text-align:center; width:20px;}

.read-more-fade{position:relative;}
.read-more-fade:after{content:""; position:absolute; z-index:1; bottom:0; left:0; pointer-events:none; background-image:linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%); width:100%; height:4em;}
.hdladakh{font-size:26px; text-align:center; padding:10px;}
.trlgd-red{float:right; font:16px "PT Sans"; color:#f96305 !important; text-transform:uppercase; padding:6px 20px; margin-top:5px; border:1px solid #f96305; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; margin-right:20px !important;}
.trlgd-red:hover{color:#fff !important; background-color:#f96305;}

.readmorelnk{text-align:center; font-weight:bold; color:#e45800 !important;}

#popUpArea{bottom:4px !important;}

.plan-mytrip{width:100%; height:auto; display:none; background:#C00; font:17px "PT Sans"; color:#fff; padding:8px 0px; text-align:center; text-transform:uppercase;}
.plan-mytrip:hover, .plan-mytrip:focus, .plan-mytrip:active{color:#fff;}