<h3>{$mod->Lang('name_EmailAdminGroupWithReplyToDisposition')}</h3>

{form_start form_guid=$form_guid disp_guid=$guid editor_name=$editor_name}
<div class="pageoverflow">
  <input type="submit" name="{$actionid}submit" value="{$mod->Lang('submit')}"/>
  <input type="submit" name="{$actionid}cancel" value="{$mod->Lang('cancel')}" formnovalidate/>
  <input type="submit" name="{$actionid}reset_tpl" value="{$mod->Lang('reset_tpls')}" formnovalidate/>
</div>

<div class="c_full cf">
  <label class="grid_2">{$mod->Lang('prompt_admin_group')}:</label>
  <div class="grid_9">
      <select class="grid_12" name="{$actionid}group">
          {html_options options=$grouplist selected=$handler->group}
      </select>
  </div>
</div>

<div class="c_full cf">
  <label class="grid_2">{$mod->Lang('prompt_email_field')}:</label>
  <div class="grid_9">
    <select name="{$actionid}fieldname" class="grid_12">
       {html_options options=$field_list selected=$handler->fieldname}
    </select>
    <p class="grid_12">{$mod->Lang('info_emailuseraddress')}</p>
  </div>
</div>

<div class="c_full cf">
  <label class="grid_2">{$mod->Lang('prompt_email_subject_template')}:</label>
  <div class="grid_9">
     <input type="text" name="{$actionid}subjecttemplate" value="{$handler->subjecttemplate}" class="grid_12"/>
  </div>
</div>
<div class="pageoverflow">
  <p class="pagetext">{$mod->Lang('prompt_email_body_template')}:</p>
  <p class="pageinput">
     {cge_textarea prefix=$actionid name="bodytemplate" value=$handler->bodytemplate}
  </p>
</div>
{form_end}
{$tpl_help}
